@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/lato-normal.woff) format("woff")
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    src: url(./fonts/lato-black.woff) format("woff")
}

@font-face {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/RobotoMono-Regular.woff) format("woff");
}

body,
html {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .75);
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-variant-ligatures: common-ligatures;
    line-height: 1.67;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

div {
    margin-bottom: 180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 750px
}

h2 {
    margin: 1.8em 0;
    line-height: 1.33
}

h2:after {
    content: "";
    display: block;
    position: relative;
    top: .33em;
    border-bottom: 1px solid hsla(0, 0%, 50%, .33)
}

a {
    color: #0c93e4;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    background-color: transparent;
}

a:focus,
a:hover {
    text-decoration: none
}

code,
pre {
    font-family: Roboto Mono, monospace;
    font-size: .85em
}

pre * {
    font-size: inherit
}

pre>code {
    background-color: rgba(0, 0, 0, .05);
    display: block;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px
}

td {
    border-top: 1px solid #dcdcdc
}

td:last-child,
th:last-child {
    border-right: 0
}